Options -Indexes
RewriteEngine On

# 1. Heredar el prefijo /construccion/ para assets (CSS, JS, IMAGES)
# Esto redirige /construccion/css/styles.css -> /css/styles.css de forma transparente
RewriteCond %{REQUEST_URI} ^/construccion/(css|js|imagenes|archivosBase|vendor|storage)/ [NC]
RewriteRule ^construccion/(.*)$ $1 [L,NC]

# 2. Rutas estándar del Front Controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
