Options -Indexes
RewriteEngine On

# 1. Heredar el prefijo /construccion/ para assets
# Redirige /construccion/imagenes/... -> /img/...
RewriteRule ^construccion/imagenes/(.*)$ img/$1 [L,NC]
# Redirige otros assets de forma directa
RewriteRule ^construccion/(css|js|archivosBase|vendor|storage)/(.*)$ $1/$2 [L,NC]

# 2. Rutas estándar del Front Controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
