<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo lo que no sea un archivo o directorio real a public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>